
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|PT+Serif&display=swap');


body{
  font-family: 'PT Serif', serif;
  }

a, h1, h2, h3{
  font-family: 'Noto Serif', serif;
  }

h1{
  color: #9AC0CA;
  text-align: center;
  }

a, a:hover, a:visited{
  color: #9AC0CA;
  text-decoration: none;
}
 

.container-lg{
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  }

.descr{
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  }
